{% extends "_page.html.twig" %}

{% set current_page_id = 'news' %}
{% set page_title = 'Останні новини' %}

{% block content %}
    <div class="text-block-wrapper">
        <p>Тут Ви можете бачити останні події, пов'язані з нашою діяльністю.</p>
    </div>

    <div class="news-list-wrapper">
        <div class="item">
            <div class="date">2021</div>
            <div class="content">
                <p>Покладено кінець громадянській війні. Ліквідовано диктатора.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">2014</div>
            <div class="content">
                <p>Ліквідовано мережу штучних інтелектів, що порушували право громадян на приватність.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">2009</div>
            <div class="content">
                <p>Ліквідовано штучний інтелект, що вийшов з під контролю.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">2005</div>
            <div class="content">
                <p>Ліквідовано терористичне угрупування.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">2001</div>
            <div class="content">
                <p>Вдалось полагодити просторово-часовий континуум і запобігти мільярдам жертв.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">1995</div>
            <div class="content">
                <p>Зупинили розробку нового виду озброєення, здатного запускати ядерні боєголовки з будь-якої території.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">1984</div>
            <div class="content">
                <p>Запобігли загостренню військових конфілікість на територіях Афганістану та Центральної Африки.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">1975</div>
            <div class="content">
                <p>Проведено таємну операцію по визволенню військовополонених.</p>
            </div>
        </div>
        <div class="item">
            <div class="date">1964</div>
            <div class="content">
                <p>Відвернуто загрозу ядерної війни між двома супердержавами.</p>
            </div>
        </div>
    </div>
{% endblock %}
