body {
  text-align: center;
}

.menu-trigger {
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: inherit;
  padding: 12px;
}

body.menu-is-open {
  .menu-trigger {
    background-color: #d0d0d0;
  }
}

ul {
  padding: 0;
  display: block;
  overflow: hidden;
  height: 0;
}

body.menu-is-open {
  ul {
    height: initial;
  }
}

li {
  list-style: none;
  display: block;

  a {
    display: block;
    padding: 12px;
    color: inherit;
    text-decoration: none;
  }

  &.active {
    a {
      background-color: #d0d0d0;
    }
  }
}

@media (min-width: 481px) {
  .menu-trigger {
    display: none;
  }

  ul {
    height: initial;
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
    }
  }
}